In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [28]:
from sklearn import datasets

wine_data = datasets.load_wine()

In [29]:
wine_data.data.shape

(178, 13)

In [30]:
wine_data.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [31]:
wine_df = pd.DataFrame(wine_data.data, columns = wine_data.feature_names)

In [32]:
wine_df.head()

   alcohol  malic_acid   ash  ...   hue  od280/od315_of_diluted_wines  proline
0    14.23        1.71  2.43  ...  1.04                          3.92   1065.0
1    13.20        1.78  2.14  ...  1.05                          3.40   1050.0
2    13.16        2.36  2.67  ...  1.03                          3.17   1185.0
3    14.37        1.95  2.50  ...  0.86                          3.45   1480.0
4    13.24        2.59  2.87  ...  1.04                          2.93    735.0

[5 rows x 13 columns]

In [33]:
target_df = pd.DataFrame(wine_data.target, columns = ['Target'])

In [34]:
target_df

     Target
0         0
1         0
2         0
3         0
4         0
..      ...
173       2
174       2
175       2
176       2
177       2

[178 rows x 1 columns]

In [35]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(wine_df, target_df, test_size = 0.2,  random_state=42)

In [36]:
y = y_train.to_numpy().ravel()

In [37]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()
model.fit(x_train, y)
y_train_pred = model.predict(x_train)
y_test_pred = model.predict(x_test)

In [38]:
model.score(x_test, y_test.to_numpy().ravel())

1.0

In [39]:
#metrics
from sklearn.metrics import accuracy_score

print("training accuracy : ", accuracy_score(y_train, y_train_pred))
print("testing accuracy : ", accuracy_score(y_test, y_test_pred))

training accuracy :  0.971830985915493
testing accuracy :  1.0

Testing accuracy greater than training accuracy. This is abnormal and could say that the model is underfitted (but the overall performance was not bad) or the distribution of the train and test data is causing the problem.

In [42]:
from sklearn.naive_bayes import MultinomialNB

model_new = MultinomialNB()
model_new.fit(x_train, y)
y_train_pred2 = model_new.predict(x_train)
y_test_pred2 = model_new.predict(x_test)

In [43]:
print("training accuracy : ", accuracy_score(y_train, y_train_pred2))
print("testing accuracy : ", accuracy_score(y_test, y_test_pred2))

training accuracy :  0.8591549295774648
testing accuracy :  0.8888888888888888

Over here, the GaussianDB model performed better